@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Layout/_AdminListLayout.cshtml";

    // ViewBag.Title = "Home Page";
}
@model AP.SecuritySystem.Models.AdminRoleVCModel
<h1 class="text-light">@Model.Header.Title<span class="@Model.Header.Icon place-right"></span></h1>
<hr class="thin bg-grayLighter">
<button class="button primary"><span class="mif-user-plus"></span> Create...</button>
<button class="button success"><span class="mif-user-check"></span> Change...</button>
<!--<button class="button warning" onclick="pushMessage('warning')"><span class="mif-loop2"></span> Restart</button>-->
<button class="button alert"><span class="mif-user-minus"></span> Remove...</button>
<hr class="thin bg-grayLighter">
<div class="listview-outlook" style="overflow-y: auto;" data-role="listview">
    @foreach (var role in Model.Roles)
            {
        <div class="list">

            <div class="list-content" id="@role.Role.Id">
                <span class="list-title">@role.Role.Name</span>
                <span class="list-subtitle">
                    @{ var users = "users: ";
                        foreach (var user in @role.AssignedUsers)
                        {
                            users += @user.UserName + ",";
                        }
                        <text>@users.Remove(users.Length - 1, 1)</text>
                    }
                </span>
                <span class="list-remark">
                    @{ var servers = "servers: ";
                        foreach (var server in @role.AssignedServers)
                        {
                            servers += @server.Description + ",";
                        }
                        <text>@servers.Remove(servers.Length - 1, 1)</text>
                    }


                </span>
            </div>
        </div>

                        }
</div>
@Html.Hidden("editUrl", @Html.Raw(@Url.Action("RoleEdit", "Admin", new { id = "UID" })))
@Html.Hidden("deleteUrl", Url.Action("RoleDelete", "Admin"))
<div class="dialog padding20 alert" data-role="dialog" id="confirmDialog" data-close-button="true">
    <h1>Delete confirmation!</h1>
    <p>
        Are you sure you want to delete this record?

    </p>
    <button class="button alert block-shadow-error">Delete</button>
</div>
